 /* header */
 body{
  /* position: fixed; */
    top: 0;
    width: 100%;
    font-family: "outfit";
    margin: 0;
    right: 0;
    padding: 0;
    background: linear-gradient(145deg,#F8EDD5, #E97D68);
 }
.header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 150px;
    width: 150px;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar input{
    height:50px;
    width: 1000px;
    padding: 10px 30px;
    border-radius: 40px;
    background: whitesmoke;
    border: none;
    outline: none;
    font-family: "outfit";
}
.search_button{
    height: 50px;
    width: 90px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border: none;
    margin-left: -90px;
    background: #F8EDD5;
    cursor: pointer;
}
  .search_button span{
    color: grey;
  }

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

  /* header End */

  .categoriesBox{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    /* gap: 80px; */
    align-items: center;
    margin-left: 140px;
  }

  .categoriesBox .health,.men,.shaving,.trimmer,.Vintage{
    background: gray;
    border: none;
    font-family: "outfit";
    border-radius: 20px;
    padding: 10px;
  }

  .Vintage.active{
    background: white;
  }

  .line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 3px;
    background: white;

  }
  .circle{
    position: absolute;
    height: 13px;
    width: 13px;
    background: white;
    border-radius: 50%;
  }

  /* bigContainer */
 .mainContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
 }

  .bigContainer{
    display: flex;
    height: 450px;
    width: 1200px;
    background: white;
    border-radius: 40px;
    padding: 40px;
  }

  .bigContainer img{
    height: 400px;
    width: 350px;
  }
 .detail{
  padding-left: 30px;
  padding-right: 30px;
 }

  .detail .detailtext{
    font-size: 28px;
    font-family: "Outfit";
    font-weight: 500;
  }
 .detail .rates{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  margin-top: 40px;
 }

 .detail .likes{
  display: flex;
  gap: 20px;
 }

 .detail .price{
  font-size: 28px;
  font-family: "outfit";
  font-weight: 500;
  margin-top: 40px;
  color: #F75507;
 }

 .detail .discounts{
  margin-top: 10px;
 }

 .detail .discount{
  text-decoration: line-through;
  color: gray;
 }

 .detail .quantities{
  display: flex;
  gap: 30px;
  margin-top: 40px;
 }

  .detail .quantities .quatitytext{
    color: gray;
  }

 .detail .quantities .plus{
  display: flex;
  gap: 12px;
 }

 .detail .quantities .plus button{
  width: 35px;
  font-size: large;
  font-weight: bold;
  background: #D9D9D9;
  border-radius: 10px;
  border: none;
  color: white;
 }

 .detail .buttons{
  display: flex;
  gap: 50px;
  margin-top: 50px;
 }

 .detail .buttons button{
  width: 50%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  color: white;
  background: #86FB6E;
  border-radius: 40px;
 }

 #cartBTN{
    width: 50%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  color: white;
  background: #FF7D7D;
  border-radius: 40px;
 }

 /* detailend */

 .SecondBigContainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
 }

  .SecondBigContainer .container2{
    background: white;
    width: 1200px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 40px;
  }

  .SecondBigContainer .container2 p{
    font-size: 23px;
    margin-bottom: 20px;
  }

  .SecondBigContainer .container2 p{
    font-size: 21px;
    font-weight: 550;
  }

  .SecondBigContainer .container2 #second_text{
    font-size: 18px;
  }

  .SecondBigContainer .container2  ul li{
    font-size: 19px;
  }