.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    margin: 0;
    right: 0;
    padding: 0;
    background: burlywood;
    display: flex;
    justify-content: space-around;
}

.logo img{
    height: 50px;
    width: 50px;
}

.search-bar{
    height:60px;
    width: 300px;
    background: whitesmoke;
}