body{
  /* position: fixed; */
    top: 0;
    width: 100%;
    
    margin: 0;
    right: 0;
    padding: 0;
    background: linear-gradient(145deg,#F8EDD5, #E97D68);
 }

 .header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 150px;
    width: 150px;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar input{
    height:50px;
    width: 1000px;
    padding: 10px 30px;
    border-radius: 40px;
    background: whitesmoke;
    border: none;
    outline: none;
    font-family: "outfit";
}
.search_button{
    height: 50px;
    width: 90px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border: none;
    margin-left: -90px;
    background: #F8EDD5;
    cursor: pointer;
}
  .search_button span{
    color: grey;
  }

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

 .text{
  font-size: 25px;
  font-family: "outfit";
  font-weight: 500;

 }

 .bigContainer{
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  width: 100%;
  height: 550px;
 }

  .bigContainer .container{
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 100%;
    background: white;
    border-radius: 40px;
  }

   .bigContainer .container .container2{
    padding-top: 20px;
    width: 900px;
   }

   .bigContainer .container .container2 .text1{
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 25px;
   }
    .bigContainer .container .container2 input{
     height: 45px;
     margin-top: 10px;
     margin-bottom: 25px;
     width: 100%;
     border-radius: 40px;
     padding-left: 20px;
     padding-right: 20px;
     outline: none;
     border: 1px solid black;
    }

    .bigContainer .container .container2 button{
       height: 45px;
     margin-top: 15px;
     margin-bottom: 25px;
     width: 100%;
     background: #EF8460;
     border-radius: 40px;
     padding-left: 20px;
     padding-right: 20px;
     outline: none;
     color: white;
     border: none;
    }
    .bigContainer .container .container2 .lines{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 20px;
    }

    .bigContainer .container .container2 .line{
      width: 375px;
      height: 1px;
      background: black;
    }

    .connects{
      display: flex;
      flex-direction: row;
      padding-top: 25px;
      width: 100%;
      justify-content: center;
      gap: 100px;
    }

     .connects .facebook {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 45px;
      width: 500px;
      border-radius: 40px;
      border: 1px solid black;
     }

     .connects .facebook img{
      height: 25px;
      width: 25px;
      border-radius: 50%;
     }

      .connects .google {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 45px;
      width: 500px;
      border-radius: 40px;
      border: 1px solid black;
     }

     .connects .google img{
      height: 25px;
      width: 25px;
      border-radius: 50%;
     }