 /* header */
 body{
  position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    margin: 0;
    right: 0;
    padding: 0;
    
    background: linear-gradient(145deg,#F8EDD5, #E97D68);
 }
.header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 150px;
    width: 150px;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar input{
    height:50px;
    width: 1000px;
    padding: 10px 30px;
    border-radius: 40px;
    background: whitesmoke;
    border: none;
    outline: none;
    
}
.search_button{
    height: 50px;
    width: 90px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border: none;
    margin-left: -90px;
    background: #F8EDD5;
    cursor: pointer;
}
  .search_button span{
    color: grey;
  }

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

  /* header End */

  /* slideSHow */
  .slideshowBody{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 565px;
  }

  .slideshow{
    
  }

  .slideshowBody .slideshow .frames img{
    width: 1200px;
    height: 100%;
    border-radius: 40px;
  }

  /* dots */
   .dots{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
   }
   .dot1{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: white;
   }

   .dot2,.dot3{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: gray;
   }